* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

:root {
  --cor-borda: #000;
  --padding: 20px;
  --border: 3px
}

body {
  color: #222;
  background: #fff;
  margin: 0;
}

nav {
  background-color: steelblue;
  padding: var(--padding);
}

nav a {
  color: white;
  display: block;
  padding: var(--padding);
}

h1 {
  color: darkblue;
}

main {
  max-width: 850px;
}

main img {
  width: 150px;
  height: auto;
  border: var(--border) solid var(--cor-borda);
  padding: var(--padding);
  box-shadow: 0 0 10px #333;
}

aside {
  width: 20rem;
  margin: 1rem;
  border: var(--border) solid rgba(0 0 0 / 0.2);
  padding: 1rem;
  background-color: #eee;
  color: #333;
  text-align: center;
}

aside img {
  width: 200px;
  height: auto;
}

img {
  width: 150px;
  height: auto;
  border: var(--border) solid var(--cor-borda);
  padding: var(--padding);
  box-shadow: 0 0 30px gray;
}

p {
  padding: var(--padding);
}

footer {
  margin-top: 10px;
  border-top: var(--border) solid var(--cor-borda);
  text-align: center;
}